###############################################################################
#                                ↓ REQUIRED ↓                                 #
###############################################################################

# Network to run the node on ("worldchain-mainnet" or "worldchain-sepolia")
NETWORK_NAME=worldchain-mainnet

# Type of pruning to use -- "full" is recommended for most users
# "full" (pruned), "minimal" (maximally pruned, lowest disk usage), and any other value is completely unpruned, aka archive node (default)
NODE_TYPE=archive

# L1 node that consensus client will get chain data from
L1_RPC_ENDPOINT=https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY

# L1 beacon endpoint, also needed for consensus client
L1_BEACON_RPC_ENDPOINT=https://eth-mainnetbeacon.g.alchemy.com/v2/YOUR_API_KEY

# Type of RPC that consensus client is connected to, see README
L1_RPC_TYPE=alchemy

###############################################################################
#                                ↓ OPTIONAL ↓                                 #
###############################################################################

# Set to "true" to enable flashblocks when using world-chain
FLASHBLOCKS_ENABLED=true

# Set to "false" to skip downloading snapshot for uninitialized execution client
# Syncing from scratch is not recommended, it will take over a week
DOWNLOAD_SNAPSHOT=true

# Exposed server ports by service
PORT__GRAFANA=3000
PORT__EXECUTION_HTTP=8545
PORT__EXECUTION_WS=8546
PORT__EXECUTION_P2P=30303
PORT__CONSENSUS_P2P=9222
PORT__CONSENSUS_HTTP=9545
