###############################################################################
#                                ↓ REQUIRED ↓                                 #
###############################################################################

# Network to run the node on ("worldchain-mainnet" or "worldchain-sepolia")
NETWORK_NAME=worldchain-mainnet

# Execution client to use ("geth" or "reth"), defaults to "reth"
# op-geth support ends May 31, 2026
COMPOSE_PROFILES=reth

# Type of pruning to use -- "full" is recommended for most users
# Reth supports "full" (pruned), "minimal" (maximally pruned, lowest disk usage), and any other value is completely unpruned (default)
# Geth supports "full" (default, pruned) and "archive" (unpruned)
NODE_TYPE=archive

# L1 node that op-node will get chain data from
L1_RPC_ENDPOINT=https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY

# L1 beacon endpoint, also needed for op-node
L1_BEACON_RPC_ENDPOINT=https://eth-mainnetbeacon.g.alchemy.com/v2/YOUR_API_KEY

# Type of RPC that op-node is connected to, see README
L1_RPC_TYPE=alchemy

###############################################################################
#                                ↓ OPTIONAL ↓                                 #
###############################################################################

# Set to "true" to enable flashblocks when using op-reth (no effect on op-geth)
# This is highly recommended for all nodes
FLASHBLOCKS_ENABLED=true

# Set to "false" to skip downloading snapshot for fresh op-reth
# Syncing from scratch is not recommended, it will take over a week
DOWNLOAD_SNAPSHOT=true

# Set to "full" to force op-geth to use --syncmode=full
# Defaults to "snap" for full node, "full" for archive node
GETH_SYNCMODE=

# Set to "hash" to force op-geth to use --state.scheme=hash
# Use "hash" state scheme if eth_getProof support is required
# This value is overridden to match existing storage, changing this value requires a full re-sync
GETH_STATE_SCHEME=path

# Exposed server ports
# Defaults included, uncomment and modify to set new values
#PORT__GRAFANA=3000
#PORT__EXECUTION_HTTP=8545
#PORT__EXECUTION_WS=8546
#PORT__EXECUTION_P2P=30303
#PORT__CONSENSUS_P2P=9222
#PORT__CONSENSUS_HTTP=9545
