services:

  op-geth:
    image: us-docker.pkg.dev/oplabs-tools-artifacts/images/op-geth:v1.101503.4
    restart: unless-stopped
    stop_grace_period: 5m
    entrypoint: /scripts/start-op-geth.sh
    env_file:
      - ./envs/${NETWORK_NAME}/execution.env
      - .env
    volumes:
      - ./envs/${NETWORK_NAME}/config:/chainconfig
      - ./scripts/:/scripts
      - shared:/shared
      - op_geth:/data
    ports:
      - ${PORT__EXECUTION_HTTP:-9993}:8545
      - ${PORT__EXECUTION_WS:-9994}:8546
      - ${PORT__EXECUTION_P2P:-30303}:${PORT__EXECUTION_P2P:-30303}/udp
      - ${PORT__EXECUTION_P2P:-30303}:${PORT__EXECUTION_P2P:-30303}/tcp
    extra_hosts:
      - "host.docker.internal:host-gateway"
    profiles: ["geth"]

  op-reth:
    image: ghcr.io/paradigmxyz/op-reth:v1.6.0
    restart: unless-stopped
    stop_grace_period: 5m
    entrypoint: /scripts/start-op-reth.sh
    ports:
      - ${PORT__EXECUTION_HTTP:-9993}:8545
      - ${PORT__EXECUTION_WS:-9994}:8546
      - ${PORT__EXECUTION_P2P:-30303}:${PORT__EXECUTION_P2P:-30303}/udp
      - ${PORT__EXECUTION_P2P:-30303}:${PORT__EXECUTION_P2P:-30303}/tcp
    volumes:
        - ./envs/${NETWORK_NAME}/config:/chainconfig
        - op_reth:/data
        - ./scripts/:/scripts
        - shared:/shared
    env_file:
      - ./envs/${NETWORK_NAME}/execution.env
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    profiles: ["reth"]

  op-node:
    image: us-docker.pkg.dev/oplabs-tools-artifacts/images/op-node:v1.13.2
    restart: unless-stopped
    stop_grace_period: 5m
    entrypoint: /scripts/start-op-node.sh
    env_file:
      - .env
    volumes:
      - ./envs/${NETWORK_NAME}/config:/chainconfig
      - ./scripts/:/scripts
      - shared:/shared
    ports:
      - ${PORT__CONSENSUS_P2P:-9222}:9222/udp
      - ${PORT__CONSENSUS_P2P:-9222}:9222/tcp
      - ${PORT__CONSENSUS_HTTP:-9545}:9545
    extra_hosts:
      - "host.docker.internal:host-gateway"

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./docker/prometheus:/etc/prometheus
      - prometheus_data:/prometheus

  grafana:
    image: grafana/grafana:9.3.0
    restart: unless-stopped
    env_file:
      -  ./envs/common/grafana.env
    volumes:
      - ./docker/grafana/provisioning/:/etc/grafana/provisioning/:ro
      - ./docker/grafana/dashboards:/var/lib/grafana/dashboards
      - grafana_data:/var/lib/grafana
    ports:
      - ${PORT__GRAFANA:-3000}:3000

  influxdb:
    image: influxdb:1.8
    restart: unless-stopped
    env_file:
      - ./envs/common/influxdb.env
    volumes:
      - ./docker/influxdb/influx_init.iql:/docker-entrypoint-initdb.d/influx_init.iql
      - influxdb_data:/var/lib/influxdb

volumes:
  prometheus_data:
  grafana_data:
  influxdb_data:
  shared:
  op_geth:
  op_reth:
